@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-black";
  src: url("../src/assets/fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../src/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-semiBold";
  src: url("../src/assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("../src/assets/fonts/Poppins-Medium.ttf");
}

:root {
  background-color: white;
}

.max-width-container {
  width: 87%;
  max-width: 90rem;
  margin-inline: auto;
  color: rgb(0, 0, 0);
  height: 100%;

  & input[type="text"] {
    position: relative;
    border-radius: 4px;
    background-color: rgb(249, 249, 249);
    border: 1px solid #667085;
    height: 35px;
    color: #667085;
    padding: 5px;
    padding-left: 35px;
    font-weight: 400;
    align-items: center;
    width: 250px;

    &:focus-visible {
      box-sizing: border-box;
      border: 1px solid #0def0d;
    }
  }

  .search {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 11px;
    left: 10px;
  }

  .icon-navabr {
    color: #667085;
    font-size: 20px;
    font-weight: 500;
  }
}

.icon-menu {
  font-size: 25px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  padding-inline: 16px;
  padding-block: 16px;
  gap: 20px;
}

@media screen and (min-width: 992px) {
  .icon-menu {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .max-width-container .search {
    display: none;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #667085;
  padding-inline: 30px;
  padding-block: 20px;
  gap: 20px;
  position: absolute;
  top: 70px;
  border-radius: 4px;
}

.add-category {
  & input[type="text"] {
    position: relative;
    border-radius: 4px;
    background-color: rgb(249, 249, 249);
    border: 1px solid #667085;
    height: 35px;
    color: #667085;
    padding: 5px;
    font-weight: 400;
    align-items: center;
    width: 500px;
    &:focus,
    &:focus-within {
      outline: none;
    }
  }

  .textarea-div {
    flex: 1;
    display: flex;
    gap: 1.4rem;
    align-items: center;
    position: relative;
  }

  .textarea-div {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 15px 20px;
    border: 1px solid #667085;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
    color: #000000;
    height: 128px;
    width: 500px;

    &:focus-visible {
      box-sizing: border-box;
      border: 1px solid #838483;
    }

    & textarea {
      width: 100%;
      background-color: inherit;
      max-height: inherit;

      &:focus,
      &:focus-within {
        outline: none;
      }
    }
  }

  & button[type="submit"] {

    background-color: rgba(17, 122, 202, 0.711);
    padding-block: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;

    &:hover {
      background-color: rgba(29, 103, 159, 0.711);
    }

    &:active {
      padding-block: 9px;
    }

  }
}
